services:
  # ============================================
  # SERVICE API (Backend - Cerveau)
  # ============================================
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: redflag-api
    ports:
      - "8000:8000"
    volumes:
      # LE LIEN VITAL : Ton code local remplace celui du conteneur en temps réel
      - ./src:/app/src
    networks:
      - redflag-network

  # ============================================
  # SERVICE UI (Frontend - Visage)
  # ============================================
  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: redflag-ui
    ports:
      - "8501:8501"
    volumes:
      # Idem pour l'UI
      - ./src:/app/src
    environment:
      # L'UI saura toujours où est l'API grâce au nom du service Docker
      - API_URL=http://api:8000
    depends_on:
      - api
    networks:
      - redflag-network

networks:
  redflag-network:
    driver: bridge