--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
pydantic
numpy
pandas
xgboost
scikit-learn
python-multipart
litellm
ecologits[litellm]
rapidfuzz
pydantic-ai
fastmcp
griffe>=1.0.0

# --- RAG Dependencies (CPU Optimized) ---
# On force le dépôt CPU pour pytorch afin d'éviter la version CUDA (lourde)
torch
sentence-transformers
chromadb